<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to 'Chatroom', root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <% if logged_in? %>
          <%= current_user.username %><i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to 'Log out', logout_path, method: :delete, class: "item" %>
          </div>
        <% else %> 
          Account <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to 'Log in', login_path, class: "item" %>
            <%= link_to 'Sign up', '#', class: "item" %>
          </div>
        <% end %> 
      </div>
      <div class="item">
        <% if !logged_in? %>
          <div class="ui buttons">
            <%= link_to 'Log in', login_path, class: "ui button" %>
            <div class="or"></div>
            <%= link_to 'Sign up', '#', class: "ui  primary button" %>
          </div>
        <% else %> 
          <%= link_to 'Log out', logout_path, method: :delete, class: "ui button" %>
        <% end %> 
      </div>
    </div>
  </div>
</div>